<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jchenry.myblog.mapper.ArticleTypeMapper">
    <resultMap id="BaseResultMap" type="com.jchenry.myblog.domain.ArticleType">
        <constructor>
            <idArg column="type_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="type_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="article_num" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        </constructor>
    </resultMap>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from articletype
    where type_id = #{typeId,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByArticleTypeName" parameterType="java.lang.String">
    delete from articletype
    where type_name = #{typeName,jdbcType=VARCHAR}
  </delete>
    <insert id="insert" parameterType="com.jchenry.myblog.domain.ArticleType">
    insert into articletype (type_id, type_name, article_num
      )
    values (#{typeId,jdbcType=INTEGER}, #{typeName,jdbcType=VARCHAR}, #{articleNum,jdbcType=INTEGER}
      )
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.jchenry.myblog.domain.ArticleType">
    update articletype
    set type_name = #{typeName,jdbcType=VARCHAR},
      article_num = #{articleNum,jdbcType=INTEGER}
    where type_id = #{typeId,jdbcType=INTEGER}
  </update>
    <update id="updateTypeNameByTypeName" parameterType="java.lang.String">
        update articletype
        set type_name = #{newTypeName,jdbcType=VARCHAR}
        where type_name = #{oldTypeName,jdbcType=VARCHAR}
    </update>
    <!--<update id="updateArticleNum">
        update articletype set article_num=article_num+1
        where type_id in
        <foreach collection="list" index="i" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </update>-->
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select type_id, type_name, article_num
    from articletype
    where type_id = #{typeId,jdbcType=INTEGER}
  </select>
    <select id="selectByTypeName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select type_id, type_name, article_num
    from articletype
    where type_name = #{typeName,jdbcType=VARCHAR}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
    select type_id, type_name, article_num
    from articletype
  </select>
    <select id="selectByIdList" resultMap="BaseResultMap">
        select type_id,type_name,article_num
        from articletype
        where type_id in
        <foreach collection="list" index="i" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

    <select id="selectByArticleId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select type_id,type_name,article_num from articletype where type_id in
        (select type_id from article_type where article_id = #{articleId,jdbcType=BIGINT})
    </select>
    <select id="selectArticlesById" parameterType="java.lang.Integer" resultType="java.lang.String">
        select article_title from article where article_id in
        (select article_id from article_type where type_id = #{typeId,jdbcType=INTEGER})
    </select>

    <select id="selectTypeName" parameterType="java.lang.String" resultType="java.lang.String">
        select type_name from articletype where type_name = #{typeName,jdbcType=VARCHAR}
    </select>
</mapper>